.d_tab_panel{
    margin: 0;
    padding: 0 !important;
}

.d_tab{
    margin: 0;
    padding: 0 !important;
}

div.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px  !important;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


div.accordion.active, div.accordion:hover {
    background-color: #ddd;
}


div.accordion-panel {
    padding: 0 18px  !important;
    background-color: white;
    display: none;
}

div.accordion-panel.show {
    display: block;
}

.accordion-panel label{
    margin: 0 !important;
}

div.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

div.d_tab_btn{
    background: #aaa none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 10px 20px !important;
    cursor: pointer;
    margin: 0 5px;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

div.d_tab_btn.active{
    background: #d6e9f8;
    color: #4a8aba;
}

div.d_tab_btn:hover{
    background: #d6e9f8;
    color: #4a8aba;
}

div.d_tp_wrapper{
    background: #aaa;
    display: block;
    height: 450px !important;
    width: 730px;
    position: relative;
    padding:0 !important;
}

div.d_tp_wrapper .map{
    position: absolute;
    top: 0;
    left: 0;
    width: 520px;
    background: #6a0002;
    height: 450px !important;
    padding: 0;
}

div.d_tp_wrapper .list{
    position: absolute;
    top: 0;
    left: 520px;
    width: 210px;
    background: #fff;
    height: 450px !important;
    overflow: auto;
    padding: 0;
}

div.d_tp_wrapper .list div.accordion{
    width: auto;
    padding: 15px 5px !important;
}

.mCustomScrollBox, .mCSB_container{
    padding: 0 !important;
}

.mCSB_inside > .mCSB_container{
    margin-right: 0 !important;
}

.dp_pointlist li{
    padding: 5px 2px !important;
    cursor: pointer;
}

.dp_pointlist li:hover{
    background: #d6e9f8;
    color:  #767676;
}

.dp_btn{
    cursor: pointer;
}
span.dp_point_label{
    display: block;
}

span.dp_point_label.active{
    background: #d6e9f8;
}

span.dp_point_info{
    display: none;
}

span.dp_point_info.show{
    display: block;
}
